{% load city_list%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Page</title>
</head>
<body>
<style>
        .city{
        margin: 0 20px;
        text-align: center;
        background-color: white;
        width: 300px;
        height: 460px;
        display: inline;
    }
</style>

    <div class="secondpage" style="text-align: left; margin-left: 150px; margin-right: 60px; background-color: whitesmoke; height: 600px; margin-top: 50px;">
        <p style="font-size: 25px;font-family: Lato,Helvetica,Arial,sans-serif; margin-left: 15px;">Kazakhstan is a country with a land area of 2,724,900 square kilometres (1,052,100 sq mi); it has borders with Russia in the north, China in the east, and Kyrgyzstan, Uzbekistan, and Turkmenistan in the south. The capital is Nur-Sultan, formerly known as Astana. It was moved from Almaty, the country's largest city, in 1997. Kazakhstan is the world's largest landlocked country, and the ninth-largest in the world. It has a population of 18.8 million, and one of the lowest population densities in the world, at fewer than 6 people per square kilometre.</p> 
        <div class="president" style="display: flex; margin-left: 15px;">
         <p style="font-size: 24px;font-family: Lato,Helvetica,Arial,sans-serif; ">Kassym-Jomart Kemeluly Tokayev (born 17 May 1953) is a Kazakh politician and diplomat who has served as the President of Kazakhstan since 20 March 2019.He succeeded Nursultan Nazarbayev, who resigned on 19 March 2019 after 29 years in office.</p>
         <img src="https://pbs.twimg.com/media/E3BiK_oWYAERwhQ?format=jpg&name=4096x4096" alt="" style="padding-right: 10px; border-radius: 50%; height: 250px; width: 225px;">
        </div> 
        <button class="btn btn-outline-info" style="margin-left: 30px ;">Learn more</button>
        <hr>
     </div>
    <hr>
     <div class="thirdpage" style="text-align: left; margin-left: 150px; margin-right: 60px; background-color: whitesmoke; height: 750px; margin-top: 50px;">
     <h2 style="margin-left: 15px; padding-top: 10px;">Nature</h2>
     <p style="font-size: 21px;font-family: Lato,Helvetica,Arial,sans-serif; margin-left: 15px; margin-top: 50px;">Kazakhstan is the largest country in the world which has no access to the World Ocean; however the territory of Kazakhstan is washed by land-locked seas: the Caspian and Aral ones. The nature of Kazakhstan is beautiful in its own way. It is severe, since the majority of the territory consists of deserts 164,000,000 ha (44%) and semi-deserts (14%). Only 26% of the territory is occupied by steppe zones and 5,5% (21,000,000 ha) by forest ones. There is Sary-Arka – a “yellow steppe” in the central part of the country and the Turgai plateau to the west from it. The territory of Kazakhstan is so vast that it occupies the Urals in the West and the Altai and Tarbagatai in the East. The Ustyurt plateau and the Caspian sea coast are located in the South-West. The eastern part of Kazakhstan reaches the northern Tien-Shan.</p>
         <div class="natures" style="text-align: center; margin-top: 30px;">
             <img src="https://www.advantour.com/img/kazakhstan/nature/kazakhstan-nature.jpg" width="700px" height="300px" alt="">
             
         </div>
         <button class="btn btn-outline-info" style="margin-left: 30px; margin-top: 25px;">Learn more</button>
         <hr>
 </div>
 <div class="4page" style="display: flex; justify-content: center; margin-top: 30px;">
    <div class="city">
        <img src="https://static.toiimg.com/thumb/51766309/Astana-Main.jpg?width=1200&height=900" width="230" height="200" alt="" style="border-radius: 50%;">
    <p class="who" style="font-size: 30px;">Nur-Sultan</p>
    <hr class="mini-hr">
    <p class="bio">
        "Nur-Sultan, formerly known as Akmolinsk, Tselinograd, and Astana,is the capital city of Kazakhstan. The city acquired its present name on March 23, 2019, following a unanimous vote in Kazakhstan's parliament. It was named after former Kazakh president Nursultan Nazarbayev."
    </p>
    </div>
    <div class="city">
        <img src="https://caspiannews.com/media/caspian_news/all_original_photos/1561729676_1723707_1561729671_2614951yotxmgm2tf21.jpg" width="230" height="200" alt="" style="border-radius: 50%;">
    <p class="who" style="font-size: 30px;">Almaty</p>
    <hr class="mini-hr">
    <p class="bio">
        "Almaty formerly known as Alma-Ata, is the largest city in Kazakhstan, with a population of about 2 million.It was the capital of Kazakhstan from 1929 to 1997, when the government relocated the capital to Akmola."
    </p>
    </div>

    <div class="city">
        <img src="https://i.ytimg.com/vi/PJTOM1MoIjs/maxresdefault.jpg" width="230" height="200" alt="" style="border-radius: 50%;">
    <p class="who" style="font-size: 30px;">Karagandy</p>
    <hr class="mini-hr">
    <p class="bio">
        "Karaganda or Qaraghandy is the capital of Karaganda Region in the Republic of Kazakhstan. It is the fourth most populous city in Kazakhstan, behind Almaty, Nur-Sultan and Shymkent. Population: 497,777; 459,778; 436,864. Karaganda is approximately 230 km south-east of Kazakhstan's capital Nur-Sultan."
    </p>
    </div>
</div>
<br>
<div style="justify-content: center;text-align: center;">
    <table class="table table-hover" style="justify-content: center;text-align: center;">

        <tr>
            <th class="col-2">Name</th>
            <th>Content</th>
            <th>Launched Year</th>
          </tr>
          {% get_city as city%}
          {% for i in city %}
    <tr>

            <td>{{i.name}}</td>
            <td>{{i.content}}</td>
            <td>{{i.launch_year}}</td>
        
    </tr>
    {% endfor %}
    </table>
</div>


<button class="btn btn-outline-info" style="margin-left: 185px; margin-top: 45px;">Learn more</button>
<hr>
<a   href="{%url 'main' %}"><button class="btn btn-outline-dark" style="margin-top: 3vh;margin-left: 2vw;margin-left: 185px;">Main Page</button></a>

<!-- <button onclick="document.location='project-1.html'">Main Page</button> -->
</body>
</html>